@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@500;700&display=swap');


@custom-variant dark (&:where(.dark, .dark *));

.text-brand-navy-900 { color: #0A1F44; }
.text-brand-blue { color: #2563EB; }




html {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Orbitron', 'Inter', sans-serif;
}
